@use "@/styles/mixins.scss" as mixins;

.overlay {
  z-index: 9999;
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.content {
  z-index: 10000;
  background-color: var(--bg-light);
  border-radius: var(--radius-large);
  box-shadow: var(--shadow1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 30rem;
  max-height: 75vh;
  min-height: 50vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  outline: none;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  color: var(--text);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-weight: 500;
  color: var(--text);
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.trigger {
  @include mixins.btn;
}

.iconButton {
  @include mixins.btn(var(--bg-lighter), var(--text), var(--text), var(--text-inv));
  padding: 0;
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius);
  display: grid;
  place-items: center;
}

.searchInput {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  padding: 0 1rem;
  gap: 0.5rem;
  font-size: 15px;
  line-height: 1;
  height: 2.5rem;
  background-color: var(--bg);
  
  input {
    color: var(--text);
    height: 100%;
    background: none;
    padding: 0;
    flex-grow: 1;
  }
}
.searchInput:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

.results {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  max-height: 40vh;
  padding: 0.5rem;
  background-color: var(--bg);
  border-radius: var(--radius-large);
  flex-grow: 1;

  &::-webkit-scrollbar-track {
    border-radius: var(--radius);
  }

  & > div {
    padding: 0.5rem;
    background-color: var(--bg-light);
    border-radius: var(--radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--bg-light);
    cursor: pointer;

    &:hover {
      border-color: var(--text);
    }
    &[data-selected] {
      color: var(--text);
      border-color: var(--green);
    }

  }
}

.closeBtn {
  @include mixins.btn(var(--bg-lighter), var(--text), var(--text), var(--text-inv));
  border-radius: var(--radius);

  margin-top: auto;
  width: 100%;
  align-self: center;
}

@keyframes overlayShow {
  from {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0);
    opacity: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}