@font-face {
  font-family: "Inter";
  src: url("../assets/font/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
@font-face {
  font-family: "LilyScriptOne";
  src: url("../assets/font/LilyScriptOne-Regular.ttf") format("truetype");
}

// Theme Colors
:root {
  --bg: #232323;
  --bg-light: #2e2e2e;
  --bg-lighter: #3a3a3a;
  --bg-dark: #1a1a1a;
  --bg-white: #f0f0f0;
  --bg-white-dark: #e0e0e0;
  --bg-white-darker: #d0d0d0;
  --bg-white-light: #ffffff;

  --green: #63ed60;
  --green-light: #a5f3a5;
  --green-dark: #2bb32b;

  --purple: #853abf;
  --purple-light: #b97af7;
  --purple-dark: #5a1e8f;

  --blue: #85c7f2;
  --blue-light: #bde0f7;
  --blue-dark: #5a9ec2;

  --text: #ffffff;
  --text-dark: #dddddd;
  --text-darker: #bbbbbb;
  --text-inv: #000000;
  --text-inv-light: #1a1a1a;

  --error: #e2665b;
  --error-light: #db7d74;

  --font: "Inter", sans-serif;
  --title-font: "LilyScriptOne", sans-serif;

  --radius: 0.5rem;
  --radius-large: 1rem;

  --shadow1: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.2), 0 0rem 0.3rem rgba(0, 0, 0, 0.2);
  --shadow1-dark: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.5), 0 0rem 0.3rem rgba(0, 0, 0, 0.5);
}

html,
body,
#__next {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: var(--font);

  // dont show annoying blue highlight on tap on mobile
  -webkit-tap-highlight-color: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

*::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

*::-webkit-scrollbar-track {
  background: var(--bg);
}

*::-webkit-scrollbar-thumb {
  background: var(--bg-lighter);
  border: 0.3rem solid var(--bg);
  border-radius: var(--radius);

  &:hover {
    background: var(--bg-white);
  }
}