.container {
  flex-grow: 1;
  width: 100%;

  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.siteContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  overflow-y: auto;
}