@use "@/styles/mixins.scss" as mixins;

.main{
  width: 100%;
  max-width: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: clamp(20rem, 50%, 40rem);
  padding: 2rem;
  background: var(--bg-light);
  border-radius: var(--radius-large);
}


.text{
  color: var(--text);
  text-align: center;
  font-size: 1rem;
  padding: 0 2rem;
  margin: 2rem 0;
}

.button{
  @include mixins.btn(var(--green), var(--green-light), var(--text-inv));

  width: 100%;
  padding: 1rem;
  height: unset;
  font-size: 1rem;
  font-weight: 500;
}