.sidebar {
  
  // position: fixed; /* Position: fixiert am Bildschirm */
  background-color: var(--bg-dark);
  left: 0rem; 
  width: 20rem;
  flex-shrink: 0;
  // transition: all .5s ease; /* Übergangseffekt für Animationen */
  z-index: 50; /* Z-Index für Stapelreihenfolge */

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1000px) {
    width: 100%;
    height: calc(100% - 4rem);
    position: fixed;
  }

  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 100%;
    width: calc(var(--radius-large) * 2);
    height: calc(var(--radius-large) * 2);

    box-shadow: calc(var(--radius-large) * -1) calc(var(--radius-large) * -1) 0 0 var(--bg-dark);
  }

  &.sidebarOpen {
    /* wenn Sidebar geöffnet ist */
    display: flex; /* Sidebar anzeigen, wenn .sidebarOpen vorhanden */
  }

  &.sidebarClosed {
    /* wenn Sidebar geschlossen ist */
    display: none; /* Sidebar ausblenden, wenn Klasse .sidebarClosed vorhanden */
  }

  header {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text);
    text-align: center;
    font-family: var(--title-font);
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    img {
      width: 4rem;
      height: 4rem;
    }
  }

  .sectionTitle {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;

    span {
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
    }

    & > div {
      height: 1px;
      background: var(--text);
      flex-grow: 1;

    }
  }

  .link {
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    font-size: 1rem;
    color: var(--text);
    transition: .2s;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-grow: 1;
  }

  .sidebarLink {
    display: flex;
    align-items: center;
    background: var(--bg-light);
    height: 3rem;
    border-radius: var(--radius);
    overflow: hidden;
  
    & * {
      transition: color .1s ease;
    }

    // select every third element
    &:nth-of-type(3n + 1) {
      --clr: var(--green);
    }
    &:nth-of-type(3n + 2) {
      --clr: var(--blue);
    }
    &:nth-of-type(3n + 3) {
      --clr: var(--purple-light);
    }


    &:hover:not([data-active="true"]) {
      * {
        color: var(--clr);
      }

      & > svg:nth-of-type(2) {
        transform: translatex(0);
        transition-delay: 0s;
      }
    }

    & > svg:nth-of-type(2) {
      margin-left: auto;
      transform: translatex(3rem);
      transition: .2s;
      transition-delay: 0.1s;
    }

    &[data-active="true"] {
      border: 2px solid var(--bg-lighter);
      background-color: transparent;
      position: relative;

      &::after {
        content: "CURRENT";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        color: var(--green);
        font-size: 0.6rem;
        letter-spacing: 0.1rem;
      }
    }
  }

  .link a svg {
    color: var(--text);
    margin: 0 1rem;
    align-items: center;
  }

  .link span {
    display: flex;
    align-items: center;
  }

  .welcome {
    width: 100%;
    margin-top: auto;
    padding: 1rem;
    color: var(--text);
    font-size: 1.5rem;
    font-family: var(--font);
    line-height: 1.7rem;
    letter-spacing: -0.05rem;
  }

  .createEvent {
    background-color: var(--green);
    --clr: var(--text-inv) !important;
    transition: background-color .2s ease;
    font-weight: 600;

    & svg {
      transition: transform .4s ease;
      transform: scale(1.1);

      &:nth-of-type(2) {
        display: none;
      }
    }

    &:hover {
      background-color: var(--green-light);
      svg {
        transform: rotate(180deg) scale(1.2);
      }
    }
    & * {
      color: var(--text-inv);
    }
  }

  .welcome span {
    font-weight: bold;
  }

  .userName {
    color: var(--green);
  }

  .greenBtn {
    background: var(--green);
    height: 4rem;
    margin: 1rem;
    border-radius: var(--radius);
  }

  .color {
    background: var(--bg-light);
    height: 3rem;
    border-radius: var(--radius);
  }

  @media screen and (max-width: 500px) {
    .sidebar {
      width: 100%;
    }
  }
}

.closeIcon {
  color: var(--text);
  margin: 0 1rem;
  align-items: center;
  /* Styles noch anpassen */
}
